:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
  }
  
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
  }
  
  a {
    color: #444;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }
  
  .navbar {
    font-size: 1.2rem;
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background:black;
  }
  
  .navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  .navbar .logo {
    font-size: 2rem;
    color: aliceblue;
  }
  .navbar .logo span{
  white-space:nowrap;
  color: #2bdbdc;
  font-size:18px;
  position:relative;
  bottom:0;
  top: 100;
  left:10px;
  }
  
  .navbar ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    padding: 0 1rem;
  }
  
  .navbar a:hover {
    color:aqua;
  }
  
  .section-a {
    margin: 2rem 0;
  }
  
  .section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  
  .section-a p {
    margin: 1rem 0;
  }
  .section-a a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #0067f4;
    color: white;
    }
  
  .section-b {
    position: relative;
    background: url('image/man.jpg') no-repeat bottom center/cover;
    height: 600px;
  }
  
  .section-b-inner {
    color: rgb(29, 21, 21);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
  }
  
  .section-b-inner h3 {
    font-size: 2rem;
  }
  
  .section-b-inner h2 {
    font-size: 5rem;
    margin-top: 1rem;
  }
  
  .section-b-inner p {
    margin-top: 1rem;
    font-size: 1rem;
    color:rgb(236, 42, 42);
  }
  
  .section-c {
    position: relative;
    background: url('image/back.jpg') no-repeat bottom center/cover;
    height: 600px;
    
  }
  .section-c-inner h2 {
    font-size: 5rem;
    text-align: center;
    color: black;
    
  }
  .section-c .gallery img
  {
    position: absolute;
	max-width: 60%;
	top: 10%;
	left: 10%;
    border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  }
  .section-c .gallery img:empty
  {
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  @media screen and (orientation: portrait) {
    .section-c .gallery img { max-width: 90%; }
  }
  
  @media screen and (orientation: landscape) {
    .section-c .gallery img { max-height: 90%; }
  }
  .section-d
  { 
      position: relative;
      

  }
  .team-style-eleven
{
    position:relative;
    -webkit-box-shadow:0 8px 16px 0 rgba(72,127,255,.1);
    -moz-box-shadow:0 8px 16px 0 rgba(72,127,255,.1);
    box-shadow:0 8px 16px 0 rgba(72,127,255,.1);
    width: 50%;
    margin: 0 auto; 
    text-align:center;
}
.team-style-eleven span 
{
  width:30%; margin:0 1%;
}
.team-style-eleven .team-content
{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color:#fff;
    padding-top:25px;
    padding-bottom:25px;
    z-index:5;
    -webkit-transition:all .3s ease-out 0s;
    -moz-transition:all .3s ease-out 0s;
    -ms-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s
}
@media(max-width:767px)
{.team-style-eleven .team-content
    {padding-top:15px;padding-bottom:15px}
}
.team-style-eleven .team-content::before
{position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:-webkit-linear-gradient(left,#0067f4 0%,#2bdbdc 100%);
    background:-o-linear-gradient(left,#0067f4 0%,#2bdbdc 100%);
    background:linear-gradient(to right,#0067f4 0%,#2bdbdc 100%);
    z-index:-1;
    -webkit-transition:all .3s ease-out 0s;
    -moz-transition:all .3s ease-out 0s;
    -ms-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s;
    opacity:0
}
.team-style-eleven .team-content .team-social
{position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-transition:all .3s ease-out 0s;
    -moz-transition:all .3s ease-out 0s;
    -ms-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s;
    visibility:hidden;
    opacity:0
}
.team-style-eleven .team-content .team-social .social
{background-color:#fff;
    display:inline-block;
    padding:10px 20px 6px;
    border-radius:50px
}
.team-style-eleven .team-content .team-social .social li
{display:inline-block;margin:0 8px}
.team-style-eleven .team-content .team-social .social li 
{font-size:16px;
    color:#a4a4a4;
    -webkit-transition:all .3s ease-out 0s;
    -moz-transition:all .3s ease-out 0s;
    -ms-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s}
    .team-style-eleven .team-content .team-social .social li a:hover{color:#0067f4}
    .team-style-eleven .team-content .team-name a
    {   color:#121212;
        font-size:24px;
        font-weight:600;
        -webkit-transition:all .3s ease-out 0s;
        -moz-transition:all .3s ease-out 0s;
        -ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;
        transition:all .3s ease-out 0s
    }
    @media(max-width:767px){.team-style-eleven .team-content .team-name a{font-size:18px}}
    .team-style-eleven .team-content .sub-title
        {font-size:16px;
            color:#0067f4;
            -webkit-transition:all .3s ease-out 0s;
            -moz-transition:all .3s ease-out 0s;
            -ms-transition:all .3s ease-out 0s;
            -o-transition:all .3s ease-out 0s;
            transition:all .3s ease-out 0s
        }
        @media(max-width:767px){.team-style-eleven .team-content .sub-title{font-size:14px}}
        .team-style-eleven:hover .team-content
        {padding-top:50px}
        @media(max-width:767px){.team-style-eleven:hover .team-content{padding-top:35px}}
        .team-style-eleven:hover .team-content::before{opacity:1}
        .team-style-eleven:hover .team-content .team-social{top:-20px;visibility:visible;opacity:1}
        .team-style-eleven:hover .team-content .team-name a{color:#fff}
        .team-style-eleven:hover .team-content .sub-title{color:#fff}
  .section-e
  {
    position: relative;
    text-align: center;
  }
.section-e .container {
          padding: 12px 24px 24px 24px;
          margin: 48px 12px;
          background: #12171a;
          border-radius: 4px;
        }
  .section-e .container h3{
          text-align: center;
        }
  .section-e  label {
          font-size: 0.85em;
          margin-left: 12px;
        }
  .section-e input[type=text],input[type=email], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid whitesmoke;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
  .section-e input[type=text]:focus,input[type=email]:focus, textarea:focus {
          border: 1px solid green;
        }
  .section-e input[type=submit] {
          background: #64B5F6;
          margin: 0 auto;
          outline: 0;
          color: white;
          border: 0;
          padding: 12px 24px;
          border-radius: 4px;
          transition: all ease-in-out 0.1s;
          position: relative;
          display: inline-block;
          text-align: center;
        }
  .section-e input[type=submit]:focus {
          background: #A5D6A7;
          color: whitesmoke;
        }
  .section-e input[type=submit]:hover {
          background: #2196F3;
        }
  .section-e .center 
  {
      text-align: center;
  }
  .section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
  }
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  @media (max-width: 700px) {
    .section-a .container {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .section-a .container div:first-child {
      order: 2;
    }
    .section-a .container div:nth-child(2) {
      order: -1;
    }
    .section-a img {
      width: 80%;
      margin: auto;
    }
   .section-footer {
      padding: 2rem 0;
    }
    .section-footer .container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  .footer-text
  {
    color: whitesmoke;
  }
  .copyrights{
    background-color: #A9A9A9;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  html
  {
    scroll-behavior: smooth;
  }
